.dropbtn {
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 14px 20px 12px 20px;
	border: 1px solid #ddd;
}

.dropdown {
	position: absolute;
	width: 300px;
}

.dropdown-content {
	width: 100%;
    display: none;
    background-color: #f6f6f6;
    z-index: 1;
}

.dropdown-content span {
	color: black;
	padding: 12px 16px;
	display: block;
	cursor:pointer;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown span:hover {
	background-color: #ddd;
}

.show {
	display: block;
	position: absolute;
}

.scroll {
	max-height: 212px;
	overflow: hidden scroll;
}

.input-group {
    display: flex;
    align-items: center;
}
i.fa {
    padding: 14px;
    border: 1px solid #ddd;
    border-left: none;
	cursor: pointer;
	transition:300ms;
}
i.fa:hover {
	background-color: #f6f6f6;
}