.dropbtn {
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 14px 20px 12px 20px;
	border: 1px solid #ddd;
}

.dropbtn:focus {outline: 3px solid #ddd;}

.dropdown {
	position: absolute;
	width: 300px;
}

.dropdown-content {
	width: 100%;
    display: none;
    background-color: #f6f6f6;
    z-index: 1;
}

.dropdown-content span {
	color: black;
	padding: 12px 16px;
	display: block;
	cursor:pointer;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown span:hover {background-color: #ddd;}

.show {display: block;}

.scroll {
	max-height: 212px;
	overflow: hidden scroll;
}

.show[data-position='right'] {
	position: absolute;
    right: -300px;
    top: inherit;
}

.show[data-position=top] {
	position: absolute;
    top: -212px;
}


