.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}
.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 400px;
    height: 400px;
    margin: -200px;
}
.close-popup {
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background-color: #ffec0e;
	padding: 4px;
	transition: 300ms;
}
.close-popup:hover {
	background-color: #ffec0eab;
}
.close-popup:before, .close-popup:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
}
.close-popup:before {
transform: rotate(45deg);
}
.close-popup:after {
transform: rotate(-45deg);
}